body{
    font-family: 'Montserrat', sans-serif;
    color: #555555;
}


#heading-style{
    background-color: #FA8C8C;
    margin-top: 1.5em;
    padding: 3em;
    border-radius: 1em;
}


h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
    color: #555555;
}

.head-button {
    margin-top: 0.5em;
    width: 90%;
    padding: 0.5em;
    border-radius: 20px;
    background-color: #FA8C8C;
    border-color: #555555;
    color: #555555;
    border: 0.2em dashed #555555;
    cursor:pointer;
    font-weight: bold;
}

.selected-head-button {
    margin-top: 0.5em;
    width: 90%;
    padding: 0.5em;
    border-radius: 20px;
    background-color:  #555555;
    border-color: #555555;
    color: #FA8C8C;
    border: 0.2em solid #555555;
    cursor:pointer;
    font-weight: bold;
}

.page-button {
    margin-top: 0.5em;
    width: 25%;
    padding: 0.5em;
    border-radius: 20px;
    background-color: white;
    border-color: #555555;
    color: #555555;
    border: 0.2em dashed #555555;
    cursor:pointer;
    font-weight: bold;
}

.list-button {
    margin-top: 1em;
    width: 70%;
    padding: 0.5em;
    border-radius: 20px;
    background-color: #ebf5a9;
    border-color: #555555;
    color: #555555;
    border: 0.2em dashed #555555;
    cursor:pointer;
    font-weight: bold;
    text-align: center;
}

.head-button:hover{
    border: 0.2em solid #555555;
}

.list-button:hover{
    border: 0.2em solid #555555;
}

.page-button:hover{
    border: 0.2em solid #555555;
}

.header-input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    resize: vertical;
  }

  .list-input-field{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    resize: vertical;
  }

  /*removing blue select border from input field*/
  textarea:focus, input:focus, button:focus{
    outline: none;
}

.friend-card{
    margin-top: 2em;
}

.rec-card{
    margin: 0.5em;
    background-color: #ebf5a9;
    padding: 1.5em;
    border-radius: 1em;
}

.list-input-card{
    margin-top: 1em;
}

.input-error-message{
    padding: 0.5em;
    color: #b55921;
}

.category-card{
    padding: 1em;
    margin-top: 1em;
    background-color: whitesmoke;
}

.category-select{
    color: #555555;
    border-radius: 1em;
}

.category-rec-card{
    background-color:  #ebf5a9;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 1em;

}
/*font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;*/